Transformación de datos.json
{
  "name": "Transformación de datos",
  "nodes": [
    {
      "parameters": {
        "url": "=https://v2.jokeapi.dev/joke/Any?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -64
      ],
      "id": "ad4ce330-ed8c-47d6-b1b3-182aa77fdf10",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -64
      ],
      "id": "c9c1d6a9-19c8-4a92-bce2-cc37e71800ba",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b46adc23-924a-4981-91a0-1f6a493ec46e",
              "name": "data",
              "value": "={{ $json.joke.toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -64
      ],
      "id": "06b8ee9e-13d4-4f92-a9ba-1502db790210",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        -64
      ],
      "id": "2fada333-aaf7-4e52-a5cf-b21c46c74447",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9bfa9da-4e8d-48e8-8c6c-20daecd9d7c8",
  "meta": {
    "instanceId": "72edee90f76775de8801d985b0bd265adc2d572797dbe1ef4f411656d309ca70"
  },
  "id": "L71sZ5DA7umAWw7j",
  "tags": []
}